*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;

}
body{
     background:
    radial-gradient(circle at 15% 20%,rgba(168,85,247,.15),transparent 100%),
    radial-gradient(circle at 85% 80%,rgba(59,130,246,.12),transparent 100%),
    linear-gradient(135deg,#f8f9ff,#f1f5ff,#ffffff);
}


header{
    height: auto;
    
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 1rem 5rem;
    align-items: center;
}

.navbar h1{
    color:rgb(150, 10, 150);

}

.navbar h1 span{
    color: rgb(18, 18, 19);
}

.tabs{
    flex: 1;
    margin-left: 4rem;
}

.tabs ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: center;
    
}
.tabs ul li{
    border: 1px solid transparent;
    padding: 0.5rem;
}


.tabs ul li:hover{
    box-shadow: inset 0 0 10px rgb(255, 255, 255);
    border-color: purple;
    
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgb(172, 57, 195);
    color: white;   
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    transition:step-start 0.3s;
    
    
}
.navbar #talk{
    padding:0.5rem 2rem;
    border-radius: 0.3rem;
    border: none;
    background-color: rgb(127, 17, 127);
    transition: 0.3s;
}
.navbar #talk a{
    color: white;
}

.navbar #talk:hover{
     box-shadow: 0 0 15px rgb(229, 29, 185);
     transform: scale(1.05);
    background-color: rgb(161, 33, 161);

}

main{
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: self-start;
    gap: 5rem;
    padding: 2rem;
    
}



.mainintro{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    width: 100%;
    padding-top: 50px;
}


.mainintro h1{
    font-size: 3rem;
    font-weight: 900;
}
.mainintro h1 span{
    color: rgb(150, 10, 150);
}
.mainintro h2{
    font-size: 2rem;
    font-weight: 800;
    color: rgb(64, 59, 59);
   
}
.mainintro p{
    line-height: 1.6;
    color: #444;
}

.introbtn button{
    padding: 1rem 2.3rem 1rem 2.3rem;
    border-radius: 0.5rem;
    border:2px solid rgb(150, 10, 150);
    color: rgb(150, 10, 150);
    font-size:1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 1rem;

}
.introbtn a{
    color: white;
}
.introbtn #project a{
    color: rgb(181, 16, 145);
}

.introbtn button:hover{
    box-shadow: 0 0 15px rgb(181, 16, 145);
    transform: scale(1.05);
}
.introbtn #hire{

    background-color: rgb(150, 10, 150);
    color: white;
}

.sociallink{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}
.sociallink div i{
    font-size: 2rem;
    cursor: pointer;

}

.sociallink div i:hover{
    box-shadow: 0 0 15px rgb(56, 54, 54);
}

.pic{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    transition: all 0.3s;
    
    
}

.pic h1{
    text-align: center;
}
.pic p{
    text-align: center;
}


.pic img{
    height: auto;
    
    width: 100%;
    aspect-ratio: 1/1;
    max-width: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(150, 10, 150);
    transition: all 0.3s;
   
    
}
.pic img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px rgb(181, 16, 145);
}


@media (max-width:768px){

    main{
        flex-direction: column-reverse;
        text-align: center;
        gap: 2rem;
        align-items: center;
    }

    .navbar{
        flex-direction: column;
        gap: 1rem;
    }

    .tabs{
        margin-left: 0;
    }

    .tabs ul{
        justify-content: center;
        flex-wrap: wrap;
    }

    .introbtn{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .mainintro h1{
        font-size: 2.3rem;
    }

    .mainintro h2{
        font-size: 1.5rem;
    }
}

@media (max-width:480px){

    .navbar{
        padding: 1rem;
    }

    .tabs ul{
        gap: .8rem;
    }

    .tabs a{
        font-size: 0.9rem;
    }

    .mainintro h1{
        font-size: 1.8rem;
    }

    .mainintro h2{
        font-size: 1.2rem;
    }

    .mainintro p{
        font-size: .9rem;
    }

    .introbtn{
        flex-direction: column;
        width: 100%;
        
    }

    .introbtn button{
        width: 100%;
        align-items: center;
        margin: 0rem;
    }
    .pic{
        width: 100%;
    }

    .pic img{
        max-width: 220px;

    }

    footer{
        font-size: .9rem;
        padding: 1rem;
    }
}

footer{
    text-align: center;
    font-size: 1.2rem;
}